<!DOCTYPE html>
<html lang="en" ng-app>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "shareup" %></title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.0rc1/angular-animate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.0rc1/angular-resource.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.0rc1/angular-route.js"></script>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="navbar navbar-inverse">
      <div class="container">
        <a href="/" class="navbar-brand">
            Vynil Collection v0.2
        </a>
        <ul class="nav nav-pills navbar-right">
          <!-- Title Area -->
          <li><a href="#">Welcome back <%= current_user.name %>!</a></li>
          <li><a href="#/albums/new">New Album</a></li>
          <li><a ng-href="#/bands">Band List</a></li>
          <li><%= link_to 'End Session?', destroy_user_session_path, method: :delete %></li>
        </ul>
      </div>
    </div>
    <div class="container-fluid">
      <div data-ng-view></div>
    </div> <!-- /container -->
    

  </body>
</html>